<h4 class="blog-post-title">Products</h4>
<hr/>
<!--putting in the same row-->
<div class="row">
 <div class="col-md-8">   
<button type="button" class="btn btn-primary" ng-click="open(product);">Add</button>
 </div>
 <div class="col-md-4">
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" ng-model="filterProduct" ng-change="resetLimit();" autocomplete="on" />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
    </span>
</div>
 </div>
</div>
<!-- end here.. putting in the same row-->
<div style="margin-top:5px"/>
<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">List of products
      <!--<div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter products list ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>-->
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="products.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="products.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>
        <!--<tr ng-repeat="c in products | filter:filterProduct | orderBy:'-id'" id="{{c.product_id}}" an animate-on-change='c.packing + c.stock + c.price + c.description' ng-animate=" 'animate'">-->
        <tr ng-repeat="c in products| filter:filterProduct">
            <td>{{c.product_id}}</td>
            <td>{{c.product_name}}</td>
            <td>{{c.description}}</td>
            <td>{{c.stocks}}</td>
            <td> <button type="button" class="glyphicon glyphicon-share" ng-click="go(c,'productItems/c.product_id/items');"></button>
           </td>
            <!--<td>
            <button class="btn" ng-class="{Active:'btn-success', Inactive:''}[c.status]" ng-click="changeProductStatus(c);">{{c.status}}</button>
        </td>-->
            <td style="width:100px">
                <div class="btn-group">
                    <button type="button" class="glyphicon glyphicon-edit" ng-click="open(c);"></button>
                    <button type="button" class="glyphicon glyphicon-remove" ng-click="deleteProduct(c);"></button>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
</div>
              